.main-container {
  background-color: #e2e2e2;
  padding-bottom: 1rem;
}


// TOURNAMENT SECTION
.tournament-date {
  font-size: 13px;
  color: black;
}

.tournament-bottom-border {
  border-bottom: 1px solid #adadad;
}

.tournament-title {
  font-size: 13px;
  color: #595959;
}

.game-content {
  background: white;
  padding: 0 20px;
}

.column-banner {
  width: 100%;
  height: auto;
}

.img-container {
  width: 100%;
  height: auto;
}

.player-image {
  border-radius: 50%;
}
