.hero-subtext {
  font-size: 1.25rem;
  letter-spacing: 2px;
}

.right-banner-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: rgba(13, 39, 74, 1);
  letter-spacing: -1px;
}

.player-name {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  color: rgba(13, 39, 74, 1);
  letter-spacing: -1px;
}

.right-banner-desc {
  font-family: 'Montserrat', sans-serif;
  font-size: .9rem;
  color: #262626;
  letter-spacing: -1px;
  font-weight: 400;
}
